USE InventarioSucre
GO

/* ================================
   TABLA ESTADO
================================ */
IF OBJECT_ID('dbo.Estado', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Estado (
        Id UNIQUEIDENTIFIER NOT NULL,
        NombreEstado VARCHAR(50) NOT NULL,
        CONSTRAINT PK_Estado PRIMARY KEY (Id)
    );
END
GO

/* ================================
   TABLA INVENTARIO
================================ */
IF OBJECT_ID('dbo.Inventario', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Inventario (
        Id UNIQUEIDENTIFIER NOT NULL,
        NumeroIdentificacion VARCHAR(50) NULL,
        Descripcion VARCHAR(200) NOT NULL,
        Marca VARCHAR(100) NULL,
        Modelo VARCHAR(100) NULL,
        Serie VARCHAR(100) NULL,
        IdEstado UNIQUEIDENTIFIER NOT NULL,
        Ubicacion VARCHAR(100) NOT NULL,
        ModoAdquisicion VARCHAR(100) NOT NULL,
        Observaciones VARCHAR(MAX) NULL,
        ObservacionesInstitucionales VARCHAR(MAX) NULL,
        CONSTRAINT PK_Inventario PRIMARY KEY (Id),
        CONSTRAINT FK_Inventario_Estado
            FOREIGN KEY (IdEstado)
            REFERENCES dbo.Estado(Id)
    );
END
GO

/* ================================
   DATOS INICIALES
================================ */
IF NOT EXISTS (SELECT 1 FROM dbo.Estado)
BEGIN
    INSERT INTO dbo.Estado (Id, NombreEstado) VALUES
    ('03e7bd23-87c4-49d3-878d-b978ce39a63c', 'Regular'),
    ('aa71b046-916d-4caf-8dae-bc23f624499b', 'Malo'),
    ('805c036c-b441-4a0c-ac09-f33a32e5b27a', 'Bueno');
END
GO

/* ================================
   STORED PROCEDURES
================================ */

CREATE OR ALTER PROCEDURE dbo.AgregarEstado
    @Id UNIQUEIDENTIFIER,
    @NombreEstado VARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.Estado (Id, NombreEstado)
    VALUES (@Id, @NombreEstado);
END
GO

CREATE OR ALTER PROCEDURE dbo.EditarEstado
    @Id UNIQUEIDENTIFIER,
    @NombreEstado VARCHAR(50)
AS
BEGIN
    UPDATE dbo.Estado
    SET NombreEstado = @NombreEstado
    WHERE Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.EliminarEstado
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM dbo.Estado WHERE Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.ObtenerEstado
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SELECT Id, NombreEstado
    FROM dbo.Estado
    WHERE Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.ObtenerEstados
AS
BEGIN
    SELECT Id, NombreEstado
    FROM dbo.Estado;
END
GO

CREATE OR ALTER PROCEDURE dbo.AgregarInventario
(
    @Id UNIQUEIDENTIFIER,
    @NumeroIdentificacion VARCHAR(50) = NULL,
    @Descripcion VARCHAR(200),
    @Marca VARCHAR(100) = NULL,
    @Modelo VARCHAR(100) = NULL,
    @Serie VARCHAR(100) = NULL,
    @IdEstado UNIQUEIDENTIFIER,
    @Ubicacion VARCHAR(100),
    @ModoAdquisicion VARCHAR(100),
    @Observaciones VARCHAR(MAX) = NULL,
    @ObservacionesInstitucionales VARCHAR(MAX) = NULL
)
AS
BEGIN
    INSERT INTO dbo.Inventario
    VALUES
    (
        @Id,
        @NumeroIdentificacion,
        @Descripcion,
        @Marca,
        @Modelo,
        @Serie,
        @IdEstado,
        @Ubicacion,
        @ModoAdquisicion,
        @Observaciones,
        @ObservacionesInstitucionales
    );
END
GO

CREATE OR ALTER PROCEDURE dbo.EditarInventario
(
    @Id UNIQUEIDENTIFIER,
    @NumeroIdentificacion VARCHAR(50) = NULL,
    @Descripcion VARCHAR(200),
    @Marca VARCHAR(100) = NULL,
    @Modelo VARCHAR(100) = NULL,
    @Serie VARCHAR(100) = NULL,
    @IdEstado UNIQUEIDENTIFIER,
    @Ubicacion VARCHAR(100),
    @ModoAdquisicion VARCHAR(100),
    @Observaciones VARCHAR(MAX) = NULL,
    @ObservacionesInstitucionales VARCHAR(MAX) = NULL
)
AS
BEGIN
    UPDATE dbo.Inventario
    SET
        NumeroIdentificacion = @NumeroIdentificacion,
        Descripcion = @Descripcion,
        Marca = @Marca,
        Modelo = @Modelo,
        Serie = @Serie,
        IdEstado = @IdEstado,
        Ubicacion = @Ubicacion,
        ModoAdquisicion = @ModoAdquisicion,
        Observaciones = @Observaciones,
        ObservacionesInstitucionales = @ObservacionesInstitucionales
    WHERE Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.EliminarInventario
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM dbo.Inventario WHERE Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.ObtenerInventario
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SELECT I.*,
           E.NombreEstado AS Estado
    FROM dbo.Inventario I
    INNER JOIN dbo.Estado E ON I.IdEstado = E.Id
    WHERE I.Id = @Id;
END
GO

CREATE OR ALTER PROCEDURE dbo.ObtenerInventarios
AS
BEGIN
    SELECT I.*,
           E.NombreEstado AS Estado
    FROM dbo.Inventario I
    INNER JOIN dbo.Estado E ON I.IdEstado = E.Id;
END
GO